<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ru</string>
    <key>CFBundleDisplayName</key>
    <string>Nostromo Codex</string>
    <key>CFBundleExecutable</key>
    <string>NostromoCodex</string>
    <key>CFBundleIdentifier</key>
    <string>dev.aleksandr.nostromo-codex</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Nostromo Codex</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.2</string>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>LSArchitecturePriority</key>
    <array>
        <string>arm64</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>26.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Aleksandr Petrov</string>
    <key>NSInputMonitoringUsageDescription</key>
	<string>Nostromo Codex считывает ввод с Razer Nostromo и предотвращает дублирование событий клавиатуры.</string>
</dict>
</plist>
